.car {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
  opacity: 1;
}

.car-detail {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.review-input {
  display: flex;
  align-items: right;
  padding-left: 100px;
}

h2 {
  padding: 0 5px;
  ;
}

.photo {
  display: flex;
  justify-content: flex-start;
  height: 30rem;
  width: 48rem;
  margin-left: 1.5rem;
}


.car-details {
  /* margin: 25px; */
  position: relative;
  z-index: 4;
  opacity: 1;
  size: 25px;

}

li {
  display: list-item;
  list-style: none
}

.carDetails {
  display: flex;
  flex-direction: column;
  
}

.car-container {
  display: flex;
}

.car-text {
  margin-bottom: -20px;
}

.model,
.year, .cylinders, .drive, .transmission {
  background-color: #F2F1EF;
  border-radius: 5px;
  padding-left: 4px;
}

.make,
.class {
  padding-left: 4px;
}

.both-reviews {
  display: flex;
  justify-content: space-evenly;
}

.past-review {
  width: 575px;
}

.both-reviews {
  margin-left: 4rem;
}

.make, .model, .class, .year, .mpg, .cylinders, .displacement, .drive, .fuel-type, .transmission {
  padding: 3px;
  font-size: large;
  padding-bottom: 3px;
}