.car {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
  opacity: 1;
}

.car-detail {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.review-input {
  display: flex;
  align-items: right;
  padding-left: 100px;
}

h2 {
  padding: 0 5px;
  ;
}

.photo {
  display: flex;
  justify-content: flex-start;
  height: 30rem;
  width: 48rem;
  margin-left: 1.5rem;
}


.car-details {
  /* margin: 25px; */
  position: relative;
  z-index: 4;
  opacity: 1;
  size: 25px;
  
}

li {
  display: list-item;
  list-style: none
}

.carDetails {
  display: flex;
  flex-direction: column;
  width: 32rem;
  margin-right: 7rem;
}

.car-container {
  display: flex;
  justify-content: space-evenly;
}

.car-text {
  margin-bottom: -20px;
}

.model,
.year, .cylinders, .drive, .transmission {
  background-color: #a9b4a4a8;
  border-radius: 5px;
  padding-left: 4px;
}

.make,
.class {
  padding-left: 4px;
}

.both-reviews {
  display: flex;
  justify-content: space-evenly;
}

.past-review {
  width: 575px;
}

.new-review {
  width: 575px;
}

.both-reviews {
  margin-left: 4rem;
}

.review-title {
  font-weight: bold;
  display: flex;
  font-size: larger;
  margin-left: 0.5rem;
  background-color: #504F4C;
  color: #E5DAD0;
  width: 11rem;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
}

.past-review-title {
  display: flex;
  flex-direction: column;
  font-size: larger;
  background-color: #504F4C;
  color: #E5DAD0;
  width: 13rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.past-review-desc {
  margin-left: 1rem;
}

.make, .model, .class, .year, .mpg, .cylinders, .displacement, .drive, .fuel-type, .transmission {
  padding: 3px;
  font-size: large;
  padding-bottom: 3px;
}

.review {
  margin-top: 0.50rem;
}

.css-4rrwra {
  width:40rem;
  margin-left: -4rem;
  margin-top: 0.5rem
}

.css-1uzhoyv {
  width: 30rem;
}

@media only screen and (max-width: 1419px){
  .car-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    position: relative;
    z-index: 4;
    opacity: 1 ;
    padding-bottom: 25px;
    min-width: max-content;
    width: auto;
  }

  .both-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
    z-index: 4;
    opacity: 1 ;
    padding: 5px;
    min-width: max-content;
    width:auto;
  }

  .past-review {
    align-items: center;
    
  }

  .new-review {
    margin-bottom: 4rem;
    /* width: auto; */
  }

  .car-details {
    justify-content: center;
    align-items: center;
  }

  .carDetails {
    margin-left: 4rem;
  }
}

/* @media screen and (max-width: 820px) {
  .car-container {
    max-width: 500px;
    margin-left: 1%;
  }
  .carDetails {
    margin-right: 50rem;
    margin-left: 0%;
  }
  .photo {
    width: 48rem !important;
    margin-left: 0%;
  }

  .past-review {
    width: 390px;
  }

  .car-details {
    width: 100%;
  }

  .both-reviews {}
} */