.car {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
  opacity: 1 ;
}

.car-detail {
  display: flex;
  align-items: left;
}

h2 {
  padding: 0 5px;;
}
.photo {
  display: flex;
  justify-content: center;
}