.coffee-button {
  display: flex;
  margin: 3.65rem -30rem 0rem 0rem;
  border: 2px solid #504F4C;
  background-color: #504f4c00 !important;
}

.css-i857na {
  display: flex !important;
  margin: -0.5rem -8rem 0rem 0rem !important;
  background-color: #504f4c00 !important;
  
}

.css-i857na:hover {
  background-color: #504f4c38 !important
}

section {
  display: flex !important;
  margin: 4.1rem 2rem 0rem -2rem !important;
  background-color: #504f4c00 !important;
}

@media screen and (max-width: 700px){
  .css-i857na {
    display: flex !important;
    margin: -3rem 0rem 0rem 4.5rem !important;
    background-color: #504f4c00 !important;
    
  }
}