.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* border: solid black 2px;
  padding: 10px; */
  z-index: 4;
  opacity: 1 ;
}
/* .user {
  display: flex;
  flex-direction: row;
}

.description {
  display: flexbox;
} */