/* @import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/animations.scss"; */

.stars {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: red solid 1px;
}

input[type="radio"] {
  display: none;
}

.pointer {
  cursor: pointer;
  transition: color 250ms
}