.recent-container {
  display: flex;
  justify-content: center;
}


.each-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  background-color: #a9b4a4a4;
  border-radius: 1rem ;
  margin: 2rem;
  font-size:18px;
  font-weight: lighter;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.stars {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1010px){
  .recent-container {
    flex-direction: column;
  }
}