.form {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3
}

.css-1kp110w, .css-1bki5fo {
  background-color: #a9b4a4a8 !important;
  border: none !important;
  margin-bottom: 20px ;
  resize: none;
}

.css-1bki5fo {
  height: 15rem !important;
}

.stars {
  margin-bottom: 5px;

}