.video-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.video-header {
  display: flex;
  justify-content: center;
  z-index: 4;
}

.video-container {
  display: flex;
  justify-content: center;
  z-index: 4;
}

#video-main {
  font-size: smaller;
  padding: 1px;
  width: 400px;
  height: 300px;
}

#video {
  font-size: smaller;
  padding: 1px;
  width: 300px;
  height: 150px;
}

@media only screen and (max-width: 1100px) {
  #video-main {
    font-size: smaller;
    padding: 1px;
    width: 600px;
    height: 250px;
  }
  
  #video {
    font-size: smaller;
    padding: 1px;
    width: 300px;
    height: 200px;
  }

  .video-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .video-second {
    display: flex;
  }

  .video-third {
    display: flex;
  }
}